@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bg-main: #f6f8fb;
  --bg-card: #ffffff;
  --bg-soft: #eef2f7;

  --primary: #2563eb;
  --primary-soft: #dbeafe;
  --accent: #22c55e;

  --text-main: #0f172a;
  --text-soft: #64748b;
  --text-light: #94a3b8;

  --border-soft: #e2e8f0;
  --shadow-soft: 0 10px 25px rgba(15, 23, 42, 0.08);
}


body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.header{
    background-color: var(--bg-card);
    border-bottom: 1px solid #ddd;
    box-shadow: var(--shadow-soft);
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.nav-container h1{
    font-size: 22px;
}

nav ul li{
    display: inline-block;
    padding: 5px 10px;
}

nav ul li a{
    text-decoration: none;
    color: var(--text-main);
    font-size: 18px;
}

.start{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
}

.start a{
    text-decoration: none;
    font-size: 18px;
    color: var(--text-main);
}

.start button{
    border: none;
    border-radius: 10px;
    background-color: var(--primary-soft);
    color: var(--text-main);
    padding: 15px 15px;
    font-size: 15px;
    width: 120px;
    cursor: pointer;
}

.hero-container{
    display: flex;
    align-items: center;
    padding: 20px 5px;
    gap: 10px;
}

.hero-image img{
    width: 350px;
    height: 350px;
    padding: 15px 10px;
    object-fit: contain;
}

.hero{
    border: 1px solid;
    padding: 20px 30px;
    margin: 20px 30px;
}

.find-home{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    margin: 20px 30px;
    border: 1px solid;
}

.find-home-container{
    text-align: center;
}

.min-price-opt option{
    display: inline-block;
}

.search-home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}